

services:
  api:
    build:
      context: ../..
      dockerfile: infrastructure/docker/Dockerfile
    ports:
      - "8000:8000"
  
  streamlit:
    build:
      context: ../..
      dockerfile: infrastructure/docker/Dockerfile.streamlit  
    ports:
      - "8501:8501"
    depends_on:
      - api